<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="../../assets/vendor/angular/angular.min.js"></script>
<script>
angular.module('myApp',[]).controller('myPage', function ($scope) {

    $scope.displayedItemsList = ['11','22','33','44','55','66','77','88','99','1010','1111','1212','1313'];

    $scope.currentPage = 0;
    $scope.pageSize = 6;
    $scope.numberOfPages = function() {
        return Math.ceil($scope.displayedItemsList.length/ $scope.pageSize);
    };

    $scope.getNumber = function (num) {
        var arr = [];
        for(var i=0;i < num;i++){
            arr.push(i);
        }
        return arr;
    }
    
    $scope.setCurrentPage = function (index) {
        $scope.currentPage = index;
    }

});

angular.module('myApp').filter('startFrom', function() {
    return function (input, start) {
        return input.slice(start);
    };
});
</script>
</head>
<body ng-controller="myPage">
<ul>
    <li ng-repeat="item in displayedItemsList | startFrom: currentPage * pageSize  | limitTo:pageSize">{{item}}</li>
</ul>

<button ng-repeat="i in getNumber(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">{{$index + 1}}</button>
</body>
</html>